# Auto detect text files and perform LF normalization
* text=auto
*.snd filter=lfs diff=lfs merge=lfs -text
*.sff filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.sffwsS5uW filter=lfs diff=lfs merge=lfs -text
*.sffoqiyCH filter=lfs diff=lfs merge=lfs -text
*.sffIwAoGk filter=lfs diff=lfs merge=lfs -text
